.first{
    background-color: greenyellow;
    height:50px;
    width: 200px;
    border-radius: 20px;
    font-size: 20px;
}

.second{
    background-color: aliceblue;
    height:50px;
    width: 200px;
    border-radius: 20px;
    font-size: 20px;
}
